.header {
  padding: 92px 49px 92px 51px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.header__menu {
  font-weight: 400;
  line-height: normal;
}

.header__links-list {
  display: flex;
}

.header__links-list-item {
  padding: 43px 32px 45px 0;
  list-style-type: circle;
}

.header__link {
  list-style-type: none;
}

.header__link-active {
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
}

.header__logo {
  display: block;
  margin-right: 180px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-underline-offset: 4px;
  font-style: normal;
}

.cover {
  padding: 165px 50px 50px ;
  color: #FFF;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position:left center;
  background-size: 100% 103% ;
  position: relative;
  z-index: -2;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: #000;
  opacity: 0.6;
  z-index: -1;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115%;
  letter-spacing: 30px;
}

.aligned-text_center {
  text-align: center;
  padding: 20px 0;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_right {
  text-align: right;
  padding-bottom: 135px;
  line-height: 100%;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 20px;
  font-size: 22px;
  font-style: normal;
}

.bet-button {
  margin-left: 78px;
  padding: 12px 32px;
  font-weight: 400;
  font-size: 22px;
  background-image: none;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.lots {
  padding: 180px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  min-height: 100%;
  flex-flow: row wrap;
}

.lots__card-list-item {
  color: #fff;
}

.card {
  width: 430px;
  height: 450px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position:right center;
  background-size: 100% 100% ;
  position: relative;
  z-index: -2;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position:right center;
  background-size: 100% 100% ;
  position: relative;
  z-index: -2;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position:right center;
  background-size: 100% 100% ;
  position: relative;
  z-index: -2;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%; 
}

.lots__look-more-link {
  font-size: 20px;
  padding: 30px 0 2px 40px;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  padding: 0 50px;
}

.about__column {
  display: grid;
  grid-template-columns: 430px auto;
  width: 100%;
  align-items: start;
  justify-items: center;
  gap: 25px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 25px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 100px 0 75px 0;
}

.about__text {
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 180px 50px 90px 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 18px;
  padding-left: 50px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 285px;
  list-style: none;
}

.footer__social-link {
  display: flex;
  justify-content: end;
}

.footer__social-icon {
  width: 50%;
}

.footer__menu-link_active {
  border-bottom: 1px solid #000;
}
